.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.layout .card {
  margin-top: 20px;
}

.formElement {
  box-sizing: border-box;
  height: 30px;
  padding: 0 8px;
  font-size: 14px;
  border: 2px solid #ffffff;
  border-radius: 3px;
  background: #ffffff;
}

label {
  display: block;
  margin-bottom: 10px;
}

button.formElement {
  color: #ff66ff;
}

button.formElement:hover {
  color: #ffffff;
  background: #ff66ff;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
  padding: 0;
}

li button {
  width: 100%;
  margin: 0;
  padding: 4px 8px;
  border: 0;
  background: transparent;
  font-size: 14px;
  text-align: left;
}

li button:hover {
  background-color: #ff66ff;
}

li:nth-child(2n) button:hover {
  background-color: #66ffff;
}

li:nth-child(3n) button:hover {
  background-color: #ffff66;
}
